$text-color1: #4C3834;
$text-color2: #666;
$font-stack1: 'Avenir LT W01 45 Book', Helvetica, Arial, sans-serif;
$font-stack2: 'Avenir LT W01 85 Heavy', Helvetica, Arial, sans-serif;
$font-stack3: 'Times New Roman', Times, serif;

$header-font-size1: 24px;
$header-font-size2: 28px;
$search-box-font-size: 32px;

$button-normal-top: #f1554b;
$button-normal-bottom: #d5392f;

$button-active-top: #d5392f;
$button-active-bottom: #f1554b;

$button-focus: #ad2c21;

$button-hover-top: #e82d21;
$button-hover-bottom: #b43027;

$button-disabled-top: #f69993;
$button-disabled-bottom: #e78882;

$link-hover-color: #8A0022;