#homepanel01 .options .button-option.first a {
    background: url("../img/sprite-secondary-nav.png") repeat scroll 0 0;
}

#homepanel01 .options .button-option.first a:hover {
    background-position: 0 -77px !important;
}

#homepanel01 .options .button-option.second a {
    background: url("../img/sprite-secondary-nav.png") repeat scroll 0 -154px;
}

#homepanel01 .options .button-option.second a:hover {
    background-position: 0 -231px !important;
}

#homepanel01 .options .button-option.third a {
    background: url("../img/sprite-secondary-nav.png") repeat scroll 0 -308px;
}

#homepanel01 .options .button-option.third a:hover {
    background-position: 0 -385px !important;
}

#homepanel01 .options .button-option.fourth a {
    background: url("../img/sprite-secondary-nav.png") repeat scroll 0 -462px;
}

#homepanel01 .options .button-option.fourth a:hover,
#homepanel01 .options .button-option.fourth button:hover {
    background-position: 0 -539px !important;
}