$text-color1: #666 !default;
$text-color2: #000 !default;
$font-stack1: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-stack2: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$header-font-size1: 1.5em !default;
$header-font-size2: 20px !default;
$search-box-font-size: 26px !default;

$button-normal-top: #EF575A !default;
$button-normal-bottom: #de3e42 !default;

$button-active-top: #EE575A !default;
$button-active-bottom: #DC3F42 !default;

$button-focus: #C00D01 !default;

$button-hover-top: #ED575A !default;
$button-hover-bottom: #C30C00 !default;

$button-disabled-top: #F7ABAC !default;
$button-disabled-bottom: #ED9FA0 !default;

$store-search-container-color: #f2f2f2 !default;
$store-search-hover: #ffffcc !default;

$link-hover-color: #666 !default;
