
$text-color1: #ef3e42;
$text-color2: #666;
$font-stack1: 'Myriad W01 Regular', Helvetica, Arial, sans-serif;
$font-stack2: 'Myriad W01 SmBd', Helvetica, Arial, sans-serif;

$button-normal-top: #f1575a;
$button-normal-bottom: #d83f42;

$button-active-top: #DC3F42;
$button-active-bottom: #EE575A;

$button-focus: #C00c00;

$button-hover-top: #db2b20;
$button-hover-bottom: #be0c00;

$button-disabled-top: #f8abac;
$button-disabled-bottom: #ec9fa0;

$link-hover-color: #B31013;