$text-color1: #00704a;
$text-color2: #666;
$font-stack1: Helvetica, Arial, sans-serif;
$font-stack2: Helvetica, Arial, sans-serif;

$button-normal-top: #2db626;
$button-normal-bottom: #0d9906;

$button-active-top: #0d9906;
$button-active-bottom: #2db626;

$button-focus: #0b8004;
$button-hover-top: #269a20;
$button-hover-bottom: #0b8205;

$button-disabled-top: #96bb94;
$button-disabled-bottom: #77b774;

$store-search-container-color: #e6f1ed;
$store-search-hover: #ffffcc;

$link-hover-color: #53b847;