body, p, h1, h2, h3, h4, h5, h6 {
	font-family: $font-stack1 !important;
}

h1, h2, h3, h4, h5, a {
    color: #EF4035;
    font-family: Arial, Helvetica, sans-serif !important;
}

#layout {
	box-shadow: 0px 2px 12px 6px #9C9C9C;
}

.button, .button:visited {
background: #ef4035 url("../../master/images/bg-button.gif") 100% 50% no-repeat;
}

#header {
	background: #fff;
	border-bottom: 5px solid #EF3E42;
}

/** Header Logo **/
#logo {
	background-image: url("/content/dam/svubanners/cmwa/en/bg-header-logo.png");
	background-repeat: no-repeat;
	width: 287px;
	height: 75px;
	display: block;
	height: 58px;
	margin-top: 35px;
	position: relative;
	text-indent: -9999px;
	top: -99px;
	width: 367px;
}

#logo a {
	width: 150px;
	height: 75px;
	margin-left: 0px;
	display: block;
}

#nav-account li ul#login-options {
	width: 76px;
}

#wrapper-content {
	background: #fff !important;
	float: left;
	padding: 0 0 50px 0;
	width: 960px;
}

div.carousel {
	margin-top: 0px;
}

.add-to-list-fancybox #wrap-content {
	color:#fff;
	font-size: 18px;
	overflow: visible;
	padding-bottom: 33px;
	margin-top: 20px;
}

#fancybox-inner .reward {
	transform: rotate(-9deg);
	height: 63px;
	width: 93px;
	margin-left: 18px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: -285px;
	position: relative;
	-ms-transform:rotate(-9deg); /* IE 9 */
	-webkit-transform:rotate(-9deg); /* Safari and Chrome */
}

.add-to-list-fancybox #overlay-fancy-box-details h2 {
	color: $text-color1;
	width: 190px;
	font: 28px $font-stack2 !important;
	margin-top: -13px;
}

.add-to-list-fancybox #overlay-fancy-box-details {
	text-align: left;
	padding: 5px 0 0 15px;
	height: 53px;
	display: block;
	vertical-align: left;
	margin: 30px 0 35px 10px;
	color: green;
}

.add-to-list-fancybox #overlay-fancy-box-details p{
	overflow: hidden;
	color: #666;
	line-height: 20px;
	width: 263px;
	font-size: 17px;
}

div.bannerImage {
	margin-bottom: 0;
	// display: none;
}

#fancybox-outer #fancybox-inner{
	width: 560px;
	height: 410px;
	overflow: auto;
}

#wrap #overlay-fancy-box-details #coupon-text{
	margin-top: -15px;
}

#customer_preferences {
	background: none;
	height: auto;
 	margin-top: -37px;
}

#cust-preferences-top{
	background: url("../../master/img/bg-header-customer.png") no-repeat scroll 0 0;
	margin-top: 20px;
	width: 260px;
	margin-left: 20px;
	height: 40px;
}

#frm-email input {
	border-right: 1px solid #ccc;
	padding: 5px 10px;
	width: 165px;
	font-size: 16px;
}

#frm-email{ 
	left: 283px;
}

#frm-email button {
	background: url("../../master/img/icn-grey-arrow-round.png") no-repeat scroll 0 0;
	width: 21px;
	margin: 3px 5px;
}

#frm-email input, #frm-search input, #frm-findstore input {
	color: #666;
	width: 144px;
	font-size: 14px;
	background: url(../../master/img/bg-input-field.gif) no-repeat;
}

div.headerImage {
	display: none;
}

#nav-primary li {
	display: inline;
	float: left;
	left: 15px;
	margin: 0;
	position: relative;
	border-left: none;
}

#frm-search input {
	border: 0 none;
	margin-left: 25px;
	height: 26px;
}

#frm-search button {
	background: url("../../master/img/icn-grey-arrow-round.png") no-repeat scroll 0 0;
	border: 0 none;
	cursor: pointer;
	float: left;
	font-size: 0;
	height: 26px;
	margin-left: 189px;
	margin-top: -23px;
	padding: 0;
	text-indent: -9999px;
	vertical-align: top;
	width: 20px;
}

.ie7 #frm-search button {
	margin-top: -32px;
}

#nav-account a {
	color: #999;
	font-size: 12px;
	text-transform: uppercase;
}

#nav-acct-customerservice{
	visibility: hidden;
}

#nav-primary {
	clear: both;
	float: left;
	list-style: none outside none;
	margin: 0;
	padding: 0;
	position: relative;
	width: 960px;
	z-index: 1000;
	border-top: none;
}

#footer #top-row {
	background: url("../../master/images/img-footer-bar.png") no-repeat scroll 0 0 #FFF;
	margin-top: 20px;
	padding: 89px 15px 15px;
}

#footer .middle_row {
	background: none repeat scroll 0 0 #FFF;
	padding: 0 0 30px;
	position: relative;
}

#footer .column-1 {
	padding-left: 35px;
}

#footer .column-2 {
	position: absolute;
	top: 0;
	left: 380px;
	padding-top: 11px;
}

#iph-img {
	margin-left: -44px;
}

#footer #bottom_row{
	margin-left: 20px;
	margin-right: 20px;
}

#footer #bottom_row li {
	padding-left: 5px;
	margin-left: 3px;
	padding-right: 0;
}

#footer #bottom_row li a {
	color: #666 !important;
	font-size: 14px;
	text-transform: lowercase;
}

#footer #bottom_row #supply {
	visibility:hidden;
	margin-right: -160px;
}

#and-img {
	float: right;
	margin-left: 45px;
	margin-top: -34px;
}

#footer #bottom_row p {
	color: #666 !important;
	font-size: 14px;
	margin-right: 25px;
}

#footer .middle_row .column-3 {
	left: 660px;
	top: 0px;
	padding-top: 11px;
	position: absolute;
}

#twitter-img {
	float: none;
	margin-left: 5px;
}

#footer .middle_row .column-3 img {
	width:90px;
	height:58px;
}

#footer .middle_row .column-3 p {
	height: 21px;
	width: 183px;
	margin-top: -62px;
	margin-left: 94px;
	color: #656565;
	font-size: 14px;
}

#nav-account li ul#login-options li#login-options-list a {
	text-transform: capitalize;   
	margin-left: -7px;
}

#doesnotexist2 {
	display: none;
}

/* The giant mess that is cmwa nav */

#nav-primary ul a {
	border-top: none;
}

#nav-primary li#nav-pri-shopping-list a,
#nav-primary li#nav-pri-savings a,
#nav-primary li#nav-pri-recipes a,
#nav-primary li#nav-pri-healthy-eating a,
#nav-primary li#nav-pri-departments a,
#nav-primary li#nav-pri-pharmacy a {
	color: #666 !important;
}

#nav-primary li#nav-pri-shopping-list a:hover,
#nav-primary li#nav-pri-shopping-list a:active,
#nav-primary li#nav-pri-savings a:hover,
#nav-primary li#nav-pri-savings a:active,
#nav-primary li#nav-pri-recipes a:hover,
#nav-primary li#nav-pri-recipes a:active,
#nav-primary li#nav-pri-healthy-eating a:hover,
#nav-primary li#nav-pri-healthy-eating a:active,
#nav-primary li#nav-pri-departments a:hover,
#nav-primary li#nav-pri-departments a:active,
#nav-primary li#nav-pri-pharmacy a:hover,
#nav-primary li#nav-pri-pharmacy a:active {
	background: $text-color1 !important;
	color: #FFF !important;
}

#nav-primary li#nav-pri-shopping-list ul a,
#nav-primary li#nav-pri-savings ul a,
#nav-primary li#nav-pri-recipes ul a,
#nav-primary li#nav-pri-healthy-eating ul a,
#nav-primary li#nav-pri-departments ul a,
#nav-primary li#nav-pri-pharmacy ul a {
	background: #fff !important;
	color: $text-color1;
}

#nav-primary #nav-pri-shopping-list.hover > a,
#nav-primary #nav-pri-savings.hover > a,
#nav-primary #nav-pri-recipes.hover > a,
#nav-primary #nav-pri-healthy-eating.hover > a,
#nav-primary #nav-pri-departments.hover > a,
#nav-primary #nav-pri-pharmacy.hover > a {
	background: #fff !important;
	border: none !important;
	color: #666 !important;
}

#nav-primary #nav-pri-shopping-list ul li.hover a,
#nav-primary #nav-pri-shopping-list ul li a:hover,
#nav-primary #nav-pri-shopping-list ul li a:active,
#nav-primary #nav-pri-savings ul li.hover a,
#nav-primary #nav-pri-savings ul li a:hover,
#nav-primary #nav-pri-savings ul li a:active,
#nav-primary #nav-pri-recipes ul li.hover a,
#nav-primary #nav-pri-recipes ul li a:hover,
#nav-primary #nav-pri-recipes ul li a:active,
#nav-primary #nav-pri-healthy-eating ul li.hover a,
#nav-primary #nav-pri-healthy-eating ul li a:hover,
#nav-primary #nav-pri-healthy-eating ul li a:active,
#nav-primary #nav-pri-departments ul li.hover a,
#nav-primary #nav-pri-departments ul li a:hover,
#nav-primary #nav-pri-departments ul li a:active,
#nav-primary #nav-pri-pharmacy ul li.hover a,
#nav-primary #nav-pri-pharmacy ul li a:hover,
#nav-primary #nav-pri-pharmacy ul li a:active {
	background: $text-color1 !important;
	color: #FFF !important;
}

#nav-primary li ul {
	border: 1px solid $text-color1;
}

#nav-primary ul {
	box-shadow: none !important;
}

#nav-primary li a {
    color: #666666;
    display: block;
    font: 19px/15px 'Myriad W01 Regular' !important;
    padding: 12px 13px 0 12px;
    text-align: left;
    text-transform:none;
}

#nav-primary > li#nav-pri-shopping-list:hover > a, #nav-primary > li#nav-pri-savings:hover > a, #nav-primary > li#nav-pri-recipes:hover > a, #nav-primary > li#nav-pri-healthy-eating:hover > a, #nav-primary > li#nav-pri-departments:hover > a, #nav-primary > li#nav-pri-pharmacy:hover > a, #nav-primary > li.hover > a {
	color: #fff !important;
}

#nav-primary #nav-pri-shopping-list.hover > a, #nav-primary #nav-pri-savings.hover > a, #nav-primary #nav-pri-recipes.hover > a, #nav-primary #nav-pri-healthy-eating.hover > a, #nav-primary #nav-pri-departments.hover > a, #nav-primary #nav-pri-pharmacy.hover > a, #nav-primary #nav-pri-healthy-eating.hover > a, #nav-primary #nav-pri-shopping-list ul li.hover a, #nav-primary #nav-pri-shopping-list ul li a:hover, #nav-primary li:hover > a, #nav-primary li:hover, #nav-primary li:active, #nav-primary li.hover > a, #nav-primary li#nav-pri-savings a:hover, #nav-primary li#nav-pri-recipes a:hover, #nav-primary #nav-pri-shopping-list ul li a:hover, #nav-primary li#nav-pri-shopping-list a:hover, #nav-primary #nav-pri-savings ul li a:hover, #nav-primary #nav-pri-healthy-eating ul li a:hover, li#nav-pri-shopping-list a:hover, #nav-primary li#nav-pri-shopping-list a.active, #nav-primary li#nav-pri-savings a:hover, #nav-primary li#nav-pri-savings a.active, #nav-primary li#nav-pri-recipes a:hover, #nav-primary li#nav-pri-recipes a.active, #nav-primary li#nav-pri-healthy-eating a:hover, #nav-primary li#nav-pri-healthy-eating a.active, #nav-primary li#nav-pri-departments a:hover, #nav-primary li#nav-pri-departments a.active, #nav-primary li#nav-pri-pharmacy a:hover, #nav-primary li#nav-pri-pharmacy a.active, #nav-primary #nav-pri-departments ul li.hover a, #nav-primary #nav-pri-departments ul li a:hover, #nav-primary #nav-pri-recipes ul li.hover a, #nav-primary #nav-pri-recipes ul li a:hover, #nav-primary > li:hover, #nav-primary > li.hover > a, #nav-primary > li.hover > a:hover, #nav-primary > li:hover + a, #nav-primary > li.hover + a {
 	background-color: $text-color1 !important;
}

#footer p.lead {
	font-weight: normal;
	color: #666;
	font-size: 16px;
}

.title h1, .title h2 {
	font-family: $font-stack1;
}

#footer .column-3 {
	position: relative;
	z-index: 10000;
} 

#utility-wrapper ul li {
	text-align: center;
	left: 4px;
}

#twitter-widget-0 {
	margin-bottom: -2px;
	margin-left: -12px;
}

/* Footer fix 2/11/2014 */
#footer .middle_row:after {
	content: '';
	display: table;
	clear: both;    
}

#footer .column-1 {
	float: left;
	width: 420px;
}

#footer .column-2 {
	position: static;
	float: left;
	width: 130px;
	margin-right: 90px;
}

#footer .middle_row .column-3 {
	position: static;
	float: left;
	width: 260px;
}

#footer .middle_row .column-3 p {
	float: right;
	width: 160px;
}

#footer .middle_row .column-3 p.lead {
	float: none;
	text-align: center;
	height: auto;
	width: auto;
	margin: 0 0 18px 0;
}

#footer .middle_row .column-3 a {
	float: left;
}

#footer p.lead {
	font-family: $font-stack2 !important;
	font-weight: normal;
	color: #666;
	font-size: 16px !important;
}

.text.parbase.section p {
	font-size: 12px !important;
}