$text-color1: #6A2627;
$text-color2: #666;
$font-stack1: 'Proxima Nova', proxima-nova, 'Proxima N W01 Reg', Arial, Helvetica, sans-serif;
$font-stack2: 'Proxima N W01 Bold', Arial, Helvetica, sans-serif;
$font-stack3: 'Clarendon BT W01 Heavy', 'Times New Roman', Times, serif;

$button-normal-top: #642326;
$button-normal-bottom: #451719;

$button-active-top: #451719;
$button-active-bottom: #642326;

$button-focus: #1a090a;

$button-hover-top: #4a1a1c;
$button-hover-bottom: #361213;

$button-disabled-top: #a17b7d;
$button-disabled-bottom: #986b6e;

$store-search-container-color: #f2f2f2;
$store-search-hover: #ffffcc;

$link-hover-color: #8A0022;